<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanyuan.mapper.PmsItemAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.shanyuan.model.PmsItemAttrValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attr_id" jdbcType="INTEGER" property="attrId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="attr_type" jdbcType="INTEGER" property="attrType" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, attr_id, value, brand_id, attr_type, item_id, store_id, attr_name
  </sql>
  <select id="selectByExample" parameterType="com.shanyuan.model.PmsItemAttrValueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_item_attr_value
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_item_attr_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_item_attr_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.model.PmsItemAttrValueExample">
    delete from pms_item_attr_value
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.model.PmsItemAttrValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_item_attr_value (attr_id, value, brand_id, 
      attr_type, item_id, store_id, 
      attr_name)
    values (#{attrId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, 
      #{attrType,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{attrName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.model.PmsItemAttrValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_item_attr_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        attr_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="attrType != null">
        attr_type,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="attrName != null">
        attr_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="attrType != null">
        #{attrType,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.model.PmsItemAttrValueExample" resultType="java.lang.Integer">
    select count(*) from pms_item_attr_value
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_item_attr_value
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.attrId != null">
        attr_id = #{record.attrId,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.attrType != null">
        attr_type = #{record.attrType,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.storeId != null">
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
      <if test="record.attrName != null">
        attr_name = #{record.attrName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_item_attr_value
    set id = #{record.id,jdbcType=INTEGER},
      attr_id = #{record.attrId,jdbcType=INTEGER},
      value = #{record.value,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      attr_type = #{record.attrType,jdbcType=INTEGER},
      item_id = #{record.itemId,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=INTEGER},
      attr_name = #{record.attrName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.model.PmsItemAttrValue">
    update pms_item_attr_value
    <set>
      <if test="attrId != null">
        attr_id = #{attrId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="attrType != null">
        attr_type = #{attrType,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.model.PmsItemAttrValue">
    update pms_item_attr_value
    set attr_id = #{attrId,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      attr_type = #{attrType,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      attr_name = #{attrName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>